<div id="container">


    <div id="upload-image" (click)="triggerFileInput()">
    <img *ngif="!imageSrc" src="../../../../../../../public/images/add_photo_alternate.png" alt="add photo" >
    <img *ngIf="imageSrc" [src]="imageSrc" alt="Selected Image" id="selected-image">
      <h3 class="content" *ngIf="!isImageUploaded">Drag And Drop Your Images Here</h3>
      <h3 class="content" *ngIf="isImageUploaded"></h3>
    <input type="file" #fileInput id="file" [formControl]="imageUrl"  (change)="handleFileInput($event)">
  </div>
    <form [formGroup]="createPostForm" >
  <div id="post-information">
    <div class="input-form">
      <mat-form-field appearance="outline" class="example-form-field">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" maxlength="50">




    </mat-form-field>

      <mat-form-field appearance="outline" class="content-field">
        <mat-label>Content</mat-label>
        <textarea matInput formControlName="content" cdkTextareaAutosize
                 [cdkAutosizeMaxRows]="15" maxlength="350"></textarea>



      </mat-form-field>
    </div>
    <div>
      <button mat-flat-button id="post-button" (click)="createPost()">Post</button>
      <h2></h2>
    </div>
  </div>
  </form>

</div>


@if(isCreating$|async){

  <div class="loading-overlay">
    <mat-spinner class="loading-spinner"></mat-spinner>

  </div>
}

