<div id="container">

    <div id="upload-image" (click)="triggerFileInput()">
    <img src="../../../../../../../public/images/add_photo_alternate.png" alt="add photo" >
    <img *ngIf="imageSrc" [src]="imageSrc" alt="Selected Image" id="selected-image">
    <h3 id="description">Drag And Drop Your Images Here</h3>
    <input type="file" #fileInput id="file"  (change)="handleFileInput($event)">
  </div>
    <form [formGroup]="createPostForm" >
  <div id="post-information">
    <div class="input-form">
      <mat-form-field appearance="outline" class="example-form-field">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Input"   formControlName="title">

        <button matSuffix mat-icon-button aria-label="Clear" (click)="clearTitle()">
          <mat-icon matSuffix>close</mat-icon>
        </button>

    </mat-form-field>

      <mat-form-field appearance="outline" class="example-form-field">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Input"  formControlName="description" >

          <button matSuffix mat-icon-button aria-label="Clear" (click)="clearDescription()">
            <mat-icon matSuffix>close</mat-icon>
          </button>

      </mat-form-field>

    </div>
    <div>
      <button mat-flat-button id="post-button" (click)="createPost()">Post</button>
    </div>
  </div>
  </form>
</div>

