<div class="notification-detail">
  <div class="container-detail">
    <div class="navbar">
      <div class="nav onclick">
        <p class="nav-text bold">All</p>
      </div>
      <div class="nav">
        <p class="nav-text">Like</p>
      </div>
      <div class="nav">
        <p class="nav-text">Comment</p>
      </div>
      <div class="nav">
        <p class="nav-text">Follow</p>
      </div>
    </div>
    <div class="notification">
      <div class="information">
        <div class="user">
          <img class="user-img" src="https://cdn.myportfolio.com/591d04f256aa901b6f95d035a778faaa/4f6bf891-5a71-4ac9-835b-457eb72462b2_rw_600.png?h=4349d2bcaaf94efadb052ed53cfc97b3" alt=""/>
          <span class="status">
          <span class="material-symbols-outlined icon">check</span>
        </span>
        </div>
        <div class="detail">
          <div class="user-sent">
            <div class="about">
              <p class="text"><strong>&#64;LoremIpsum</strong> followed on you</p>
            </div>
            <div class="time">
              <p class="text-time">3 hours ago</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="notification">
      <div class="information">
        <div class="user">
          <img class="user-img" src="https://cdn.myportfolio.com/591d04f256aa901b6f95d035a778faaa/4f6bf891-5a71-4ac9-835b-457eb72462b2_rw_600.png?h=4349d2bcaaf94efadb052ed53cfc97b3" alt=""/>
          <span class="status">
          <span class="material-symbols-outlined icon">check</span>
        </span>
        </div>
        <div class="detail">
          <div class="user-sent">
            <div class="about">
              <p class="text"><strong>&#64;LoremIpsum</strong> commented on your post</p>
            </div>
            <div class="time">
              <p class="text-time">3 hours ago</p>
            </div>
          </div>
          <div class="messenger">
            <p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
          </div>
        </div>
      </div>
      <div class="picture">
        <img class="picture-img" src="https://www.washingtonpost.com/wp-apps/imrs.php?src=https://arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/FPGDGYJXM56KI5CTHHDX3DN2WQ.jpg&w=1200" alt=""/>
      </div>
    </div>
    <div class="notification">
      <div class="information">
        <div class="user">
          <img class="user-img" src="https://cdn.myportfolio.com/591d04f256aa901b6f95d035a778faaa/4f6bf891-5a71-4ac9-835b-457eb72462b2_rw_600.png?h=4349d2bcaaf94efadb052ed53cfc97b3" alt=""/>
          <span class="status">
          <span class="material-symbols-outlined icon">check</span>
        </span>
        </div>
        <div class="detail">
          <div class="user-sent">
            <div class="about">
              <p class="text"><strong>&#64;LoremIpsum</strong> commented on your post</p>
            </div>
            <div class="time">
              <p class="text-time">3 hours ago</p>
            </div>
          </div>
          <div class="button">
            <button class="btn-decline">Decline</button>
            <button class="btn-accept">Accept</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
