<div id="container">
  <div id="title">change your avatar?</div>
  <div id="item">
    <div id="upload">
      <!--      <input type="file" id="file" (change)="onFileChange($event)" />-->
      <!--      <label for="file" id="file-label">choose file</label>-->
    </div>
    <div id="remove">
      <button id="remove-button" mat-button (click)="removeAvatar()">remove</button>
    </div>
    <div id="cancel">
      <button id="cancel-button" mat-button  (click)="cancel()">cancel</button>
    </div>
  </div>
</div>
