#container{
  width: 400px;
  height: 233px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-inline: black;
}

#title{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "Public Sans";
}
#remove-button{
  background-color: white;
  color:#FF0000;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
#cancel-button{
  background-color: white;
  color: dimgrey;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
