body, html {
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}



//#root-container {
//  height: 100vh;
//  width: 100vw;
//}
