* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-register {
  background-color: #7F7F7F;
  max-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register .bulb {
  width: 100px;
  height: 185px;
}

.register .avatar {
  max-width: 20%;
  height: auto;
}

.group-checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.register .title {
  font-size: 32px;
  line-height: 1.286;
  color: var(--primary);
  //border: 1px solid gold;
  width: fit-content;
  height: 70px;
  padding-top: 3%;

}

.register .man-image {
  max-width: 55%;
  height: auto;
  margin-left: 25%;
}

.register .introduction {
  display: flex;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  //border: 2px solid gold;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.register .label-1 {
  font-size: 32px;
  line-height: 1.286;
  font-weight: bold;
  color: var(--primary);
  width: fit-content;
  height: 70px;
}

.register .tab-register {
  background: #FFFFFF;
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  padding-top: 10px;
}

.register .icon {
  width: 20px;
  height: 20px;
}

.register .icon-1 {
  width: 12px;
  height: 9.4px;
}

.register .check-with-box {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}

.register .user-action {
  display: flex;
  //flex-direction: column;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  // border: 2px solid blue;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
}

.register {
  border-radius: 40px;
  background: #FFFFFF;
  width: 70%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  /* Phần tử sẽ dính vào đỉnh viewport khi cuộn trang lên đến đỉnh phần tử */
}

.register-text {
  overflow-wrap: break-word;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  color: #FFFFFF;
  width: 80%;
  height: 40px;
  font-weight: bold;
}

.check-with-box {
  margin-left: 7.5%;
}

.form-register {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

}

.example-full-width {
  margin-left: 10%;
  width: 80%;
}

.input-info {
  color: var(--primary);
  font-weight: bold;
}

.group-title-welcome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  // border: 2px solid aqua;

}

//ipad pro nam doc
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

  .register .title {
    font-size: 32px;
    margin-left: -5%;
  }

  .register .man-image {
    margin-left: 25%;
  }

  .register {
    height: 40% !important;
  }

  .register-text {
    width: 80%;
  }
}

/* Media Query cho iPad Pro ở chế độ ngang (Landscape) */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

  .register {
    height: 60%;
  }

  //.example-full-width{
  //  border: 2px solid gold;
  //}
}

/* Media Query cho iPad Mini ở chế độ dọc (Portrait) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

  .check-with-box {
    margin-left: 6%;
  }

  .register .man-image {
    margin-left: 25%;
  }

  .example-full-width {
    margin-left: 10%;
    //border: 2px solid gold;
    width: 80%;
  }

  .register {
    height: 50%;
  }

  .register-text {
    width: 80%;

  }
}

/* Media Query cho iPad Mini ở chế độ ngang (Landscape) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

  .register .title {
    font-size: 32px;
  }

  .register .man-image {
    margin-left: 25%;
  }

  .register-text {
    width: 80%;
    margin-top: -10%;
  }

  .example-full-width {
    margin-left: 10%;
    width: 80%;
  }

  .check-with-box {
    margin-left: 7%;
  }
}