<div class="body-register">
  <div class="register">
    <div class="user-action">
      <div class="tab-register">
        <span class="label-1"> Register </span>
        <img class="avatar" src="../public/images/avatar.png" alt="" />
        <div>
          <form [formGroup]="regisForm" class="form-register">
            <!--------------------------------INPUT_FORM------------------------------------->
            <mat-form-field class="example-full-width" appearance="outline" >
              <mat-label class="input-info">Email</mat-label>
              <input matInput formControlName="email" placeholder="..." readonly/>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline" >
              <mat-label class="input-info">User name</mat-label>
              <input matInput  placeholder="User name"  formControlName = "userName"  />
            </mat-form-field>
            <!---------------------------------INPUT_FORM_END------------------------------------>
            <div class="group-checkbox">
              <div class="check-with-box">
                <mat-checkbox formControlName="box" class="example-margin">Nhấn đồng ý với tất cả các điều
                  khoản và điều kiện của chúng tôi.
                </mat-checkbox>
              </div>
              <button class="register-text" mat-stroked-button (click)="register()">
                Register
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>
    <div class="introduction">
      <div class="group-title-welcome">
        <img class="bulb" src="../public/images/bulb.png" alt="" />
        <div class="title">Make your day</div>
      </div>
      <img class="man-image" src="../public/images/man_image.png" alt="" />
    </div>
  </div>
</div>
