*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body-register {
  background-color: #7F7F7F;
  font-family: 'poppins', serif;
  padding-top: 20px;
  height: 100vh;

}
.register .bulb {
  position: absolute;
  left: 45%;
  top: 0;
  translate: -50% 0;
  width: 100px;
  height: 185px;
}
.register .avatar {
  margin: 74px 0 0 50px;
  width: 80px;
  height: 80px;
}
.register .title {
  margin-right: 70px;
  display: inline-block;
  overflow-wrap: break-word;
  font-weight: 700;
  font-size: 50px;
  color: var(--primary);

}
.register .container-7 {
  margin-bottom: 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 850px;
  box-sizing: border-box;
}
.register .man-image {
  margin-right: 150px;
  width:200px;
  height: 200px;
}
.register .container-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 1152px;
  height: fit-content;
  box-sizing: border-box;
}
.register .introduction {
  position: relative;
  display: flex;
  padding-top: 27px;
  width: 850px;
  height: fit-content;
  box-sizing: border-box;
}

.register .label-1 {
  overflow-wrap: break-word;
  font-size: 28px;
  line-height: 1.286;
  color: var(--primary);
}

.register .indicator {
  position: absolute;
  left: 50%;
  bottom: 0;
  translate: -50% 0;
  display: flex;
  width: 103px;
  height: 14px;
  box-sizing: border-box;
}
.register .tab-register {
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 6px 0;
  width: 145.7px;
  box-sizing: border-box;
}
.register .container-1 {
  margin: 0 0 247px 11.2px;
  display: flex;
  flex-direction: row;
  align-self: center;
  width: fit-content;
  box-sizing: border-box;
}

.register .icon {
  width: 20px;
  height: 20px;
}

.register .icon-1 {
  width: 12px;
  height: 9.4px;
}

.register .check-with-box {
  margin-bottom: 69px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.register .container-3 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.register .user-action {
  position: relative;
  top: -445px;
  left: -100px;
  display: flex;
  box-sizing: border-box;
  width: 60%;
}
.register {
  border-radius: 40px;
  background: #FFFFFF;
  padding: 5px 141px 0 141px;
  width: 80%;
  height: 90%;
  box-sizing: border-box;
  margin: 10px auto;
}

.register-text {
  overflow-wrap: break-word;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  color: #FFFFFF;
  width: 100%;
  height: 40px;
  margin-top: -30px;
}
.form-register{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin-top: -100px;
}
.example-full-width {
  width: 400px;
}
.input-info {
  color: var(--primary);
  font-weight: bold;
}
