<div class="container">
  <div class="navbar-left">
      <div class="logo-navbar">
        <img src="../public/images/logo_1_1__1_-removebg-preview.png" class="logo-navbar-icon"  alt=""/>
      </div>
    </div>

  <div class="navbar-center">

    <div id="sidebar-container">
      <div class="sidenav-nav">
        @for (route of dataRoutes; track i; let i = $index) {
          <div
            class="sidenav-nav-item"
            [class]="routeSelected == i ? 'active' : 'inactive'"
            (click)="navigate(i)"
          >
            <div class="sidenav-nav-link">
              <span  class="material-symbols-outlined sidenav-link-icon" style="margin: 0">
                {{ route.icon  }}
              </span>
              <span style="margin: 0">
                {{ route.name  }}
              </span>
            </div>
          </div>
        }
      </div>
    </div>


  </div>
  <div class="navbar-right">


    <div class="avatar-navbar" >

      <button mat-icon-button [matMenuTriggerFor]="menu"  >
        @if(!(profileMine$ | async)?.avatarUrl){
          <img src="../public/images/avatar.png" class="avatar-navbar-icon" loading="lazy"  alt=""/>
        } @else {
          <img src="{{(profileMine$ | async)?.avatarUrl}}" class="avatar-navbar-icon" >
        }

      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon class="material-symbols-outlined" >logout</mat-icon>
          <span>logout</span>
        </button>
      </mat-menu>

    </div>


  </div>


</div>
