.container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--surfaceContainer);
}

.navbar-left{
  width: 25%;
  height: 100%;

  .logo-navbar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;

    .logo-navbar-icon{
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      background-color: var(--secondaryContainer);
    }
  }
}

.navbar-center{
  width: 40%;
  height: 100%;

}

#sidebar-container {
  width: 100%;
  min-width: 89.31px;
  height: 100%;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;

  .sidenav-nav {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    width: 100%;

    .sidenav-nav-item {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .sidenav-nav-link {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--text-02);
        text-decoration: none;
        border-radius: 100px;
        transition: all 0.3s ease-in-out;
        //background-color: red;
        width: 60%;
        height: 60%;

        .sidenav-link-icon {
          width: 2rem;
          min-width: 2rem;
          margin: 0 0.5rem;
          text-align: center;
          color: var(--onSurface);
        }
      }


    }
  }

  .sidenav-nav-link {
    width: 100%;
    height: 100%;
  }

  .active {
    .sidenav-nav-link {
      background-color: var(--secondaryContainer );
    }

    .sidenav-link-icon,
    .sidenav-link-text {
      // color: var(--mat-app-text-color) !important;
      color: var(--onSecondaryContainer) !important;
    }
  }

  // .active:hover {
  //   .sidenav-nav-link {
  //     filter: brightness(0.85);
  //   }
  // }



  .inactive:hover {
    .sidenav-nav-link {
      background-color: var(--outlineVariant);
    }
  }
}



.navbar-right{
  width: 25%;
  height: 100%;

  .avatar-navbar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;

    .avatar-navbar-icon{
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-color: var(--secondaryContainer);
    }
  }
}
