.container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--onPrimary);
  //test
}

.navbar{
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--onPrimary);
}

.navbar-left{
  width: 20%;
  height: 100%;

  .logo-navbar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;

    .logo-navbar-icon{
      width: 3.5rem;
      height: 3.5rem;
    }
  }
}

.navbar-center{
  width: 50%;
  height: 100%;
  background-color: var(--background);
  border-radius: 100px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

#sidebar-container {
  width: 100%;
  min-width: 89.31px;
  height: 100%;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;

  .sidenav-nav {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    width: 100%;

    .sidenav-nav-item {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .sidenav-nav-link {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--text-02);
        text-decoration: none;
        border-radius: 100px;
        transition: all 0.3s ease-in-out;
        //background-color: red;
        width: 100%;
        height: 100%;

        .sidenav-link-icon {
          width: 2rem;
          min-width: 2rem;
          margin: 0 0.5rem;
          text-align: center;
          color: var(--onSurface);
        }
      }


    }
  }

  .sidenav-nav-link {
    width: 100%;
    height: 100%;
  }

  .active {
    .sidenav-nav-link {
      background-color: var(--secondaryContainer );
    }

    .sidenav-link-icon,
    .sidenav-link-text {
      // color: var(--mat-app-text-color) !important;
      color: var(--onSecondaryContainer) !important;
    }
  }

  // .active:hover {
  //   .sidenav-nav-link {
  //     filter: brightness(0.85);
  //   }
  // }



  .inactive:hover {
    .sidenav-nav-link {
      background-color: var(--surfaceDim);
    }
  }
}



.navbar-right{
  width: 20%;
  height: 100%;

  .avatar-navbar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;

    .avatar-navbar-icon{
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      background-color: var(--secondaryContainer);
    }
  }
}

::ng-deep .mat-mdc-icon-button{
  width: 3.5rem!important;
  height: 3.5rem!important;
}
::ng-deep.mat-mdc-icon-button .mat-mdc-button-touch-target{
  width: 2.5rem!important;
  height: 2.5rem!important;
}

//@media only screen
//and (min-device-width: 768px)
//and (max-device-width: 1024px)
//and (-webkit-min-device-pixel-ratio: 1) {
//
//  .navbar-left {
//    width: 20%;
//    height: 100%;
//  }
//
//  .navbar-center {
//    width: 60%;
//    height: 100%;
//  }
//
//  .navbar-right {
//    width: 20%;
//    height: 100%;
//  }
//}

@media (max-width: 1300px) {
  .navbar-center {
    width: 70%;
  }
}

@media (max-width: 1024px) {
  .navbar-center {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .navbar-center {
    width: 77%;
  }
}
