@defer {
  <div class="post">
      <div class="post-header">
        <img (click)="onImageClick()" class="post-image" [src]="post.imageUrls" alt="">
      </div>

    </div>
} @placeholder (minimum 1000ms) {
  <app-post-loader-skeleton></app-post-loader-skeleton>
}


<!--@for(post of postList; track $index){-->
<!--  <div class="post">-->
<!--    <div class="post-header">-->
<!--     <img (click)="onImageClick()" class="post-image" [src]="post.images" alt="">-->
<!--      <span>{{post.id}}</span>-->
<!--    </div>-->

<!--    </div>-->




<!--}-->

<!--@for(post of postList; track $index){-->

<!--        <div class="post-header">-->
<!--          <img (click)="onImageClick()" class="post-image" [src]="post.images" alt="">-->
<!--        </div>-->

<!--}-->


