<div class="grid-container">
  <div class="post" *ngFor="let post of post">
    <div class="post-header">
      <img (click)="openDialog(post)" class="post-image" [src]="post.imageUrl" alt="{{ post.title }}">
    </div>
    <div class="post-content">
      <div class="content-left">
        <img class="avatar" [src]="post.avatarUrl" alt="{{ post.userName }}">
        <p>{{ post.userName }}</p>
      </div>
      <div class="content-right">
        <span class="material-symbols-outlined icon-material">favorite</span>
        <span class="material-symbols-outlined icon-material">chat</span>
      </div>
    </div>
  </div>
</div>
