//.home-container {
//  height: 100%;
//}
//
//.grid-container {
//  margin-top: 20px;
//  display: grid;
//  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
//  justify-content: center;
//  align-items: center;
//}
//
//.post-container {
//  width: 100%;
//  box-sizing: border-box;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}
//
//.post {
//  max-width: 400px;
//  width: 100%;
//}
//
//.post-container {
//  display: grid;
//  grid-template-columns: repeat(auto-fill, 300px);
//  grid-gap: 20px;
//  //grid-auto-rows: 20px;
//  //grid-row-gap: 10px;
//  //grid-column-gap: 16px;
//}
//
//.post {
//  grid-row-end: span 10;
//  margin-bottom: 10px;
//}
//
////@media only screen and (max-width: 2048px) {
////  .grid-container {
////    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
////    grid-gap: 32px 5px;
////  }
////}
////
////@media only screen and (max-width: 1920px) {
////  .grid-container {
////    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
////    grid-gap: 32px 5px;
////  }
////}
////
////@media only screen and (max-width: 1536px) {
////  .grid-container {
////    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
////    grid-gap: 32px 20px;
////  }
////}
////
////@media only screen and (max-width: 1024px) {
////  .grid-container {
////    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
////    grid-gap: 32px 5px;
////  }
////}
////
////@media only screen and (max-width: 900px) {
////  .grid-container {
////    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
////    grid-gap: 32px 5px;
////  }
////}
////
////@media only screen and (max-width: 768px) {
////  .grid-container {
////    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
////    grid-gap: 32px 5px;
////  }
////}

.masonry-container {
  column-gap: 16px;
}

.masonry-item {
  width: 100%;
  margin-bottom: 16px;
  overflow: hidden;
  border-radius: 25px;
  position: relative;

  &:hover::after {
    cursor: pointer;
    pointer-events: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 50% black */
  }
}

.masonry-item {
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  page-break-inside: avoid;
}


@media only screen and (max-width: 2048px) {
  .masonry-container {
    column-count: 6;
  }
}

@media only screen and (max-width: 1920px) {
  .masonry-container {
    column-count: 6;
  }
}

@media only screen and (max-width: 1536px) {
  .masonry-container {
    column-count: 5;
  }
}

@media only screen and (max-width: 1024px) {
  .masonry-container {
    column-count: 4;
  }
}

@media only screen and (max-width: 900px) {
  .masonry-container {
    column-count: 3;
  }
}

@media only screen and (max-width: 768px) {
  .masonry-container {
    column-count: 3;
  }
}





