#container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
#card{
  width: 60%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-item-content{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.card-item{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-item-name{
  color: var(--onBackground);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
// .card-item-username{
//   color: var(--onSurfaceVariant);
//   font-size: 19px;
// }
// .card-item-number{
//   display: flex;
//   width: 100%;
//   align-items: center;
//   gap: 20px;
//   justify-content: space-between;
// }
// .funOfNum{
//   color: var(--onSurfaceVariant);
//   font-size: 14px;
//   cursor: pointer;
// }

.card-item-description{
  color: var(--onSurfaceVariant);
  font-size: 15px;
  width: 100%;
  height: 80%;
}
// .number{
//   color: var(--onBackground);
//   text-align: center;
//   font-size: 13px;
//   font-weight: 700;
// }
// .card-item-image{
//   width: 20%;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   float: right;
//   gap: 20px;
// }

// ::ng-deep .mat-mdc-raised-button{
//   height: 10px;
// }
#edit{
  background-color: var(--primary);
  color: var(--onPrimary);
  font-size: 15px;
  white-space:nowrap;
  height: 40px;
  cursor: pointer;
}
.edit-button{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
img{
  border-radius: 50%;
  object-fit: cover;
}
// i want width and height will be changed when user use ipad pro, ipad mini, ipad air 
@media screen and (max-width: 1180px) {
  img{
    width: 100px;
    height: 100px;
  } 
}
@media screen and (max-width: 1024px) {
  img{
    width: 90px;
    height: 90px;
  } 
}
@media screen and (max-width: 768px) {
  img{
    width: 100px;
    height: 100px;
  } 
}

.post-container {
  padding-top: 25px;
}

.masonry-container {
  column-gap: 16px;
}

.masonry-item {
  width: 100%;
  margin-bottom: 16px;
  overflow: hidden;
  border-radius: 25px;
  position: relative;

  &:hover::after {
    cursor: pointer;
    pointer-events: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 50% black */
  }
}

.masonry-item {
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  page-break-inside: avoid;
}


@media only screen and (max-width: 2048px) {
  .masonry-container {
    column-count: 6;
  }
}

@media only screen and (max-width: 1920px) {
  .masonry-container {
    column-count: 5;
  }
}

@media only screen and (max-width: 1536px) {
  .masonry-container {
    column-count: 5;
  }
}

@media only screen and (max-width: 1024px) {
  .masonry-container {
    column-count: 4;
  }
}

@media only screen and (max-width: 900px) {
  .masonry-container {
    column-count: 3;
  }
}

@media only screen and (max-width: 768px) {
  .masonry-container {
    column-count: 3;
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it is above other elements */
}

.loading-spinner {
  width: 50px;
  height: 50px;
}

