#container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

#card{
  width: 60%;
  height: 10%;
  top: 100px;
  left: 283px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-item-content{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.card-item{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-item-name{
  color: var(--onBackground);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.card-item-username{
  color: var(--onSurfaceVariant);
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.card-item-number{
  display: flex;
  width: 390px;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}
.funOfNum{
  color: var(--onSurfaceVariant);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.card-item-description{
  color: var(--onSurfaceVariant);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  width: 407px;
  height: 53px;
  //overflow: hidden;
  //display: -webkit-box;
  //-webkit-line-clamp: 2;// chinh dong
  //-webkit-box-orient: vertical;
  //text-overflow: ellipsis;
  //margin: 0;
}
.number{
  color: var(--onBackground);
  text-align: center;
  font-size: 17px;
  font-weight: 700;
}
.card-item-image{
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: right;
  gap: 20px;
}
button mat-raised-button{
  background-color: var(--surfaceContainerHigh);
}
#edit{
  background-color: var(--primary);
  color: var(--onPrimary);
}
.edit-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
}
img{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
}

#mat-flat-button{
  background-color: var(--primary);
  border-radius: 100px;
  color: var(--onPrimary);
  width: 108px;
  height: 40px;
  padding: 10px 24px 10px 16px;
  gap: 8px;
}
#Post{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
.Post-image{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.img{
  width: 350px;
  height: 300px;
  border-radius: 16px;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

