.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.detail-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.left-container {
  display: flex;
  width: 70%;
  background-color: #141414;
  position: relative;

  .close-button {
    //position: absolute;
    top: 10px;
    left: 10px;
    color: #ffffff;
    background-color: #522b00;
  }
}

.right-container {
  width: 30%;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--surface);
}


.image-container {
  width: 100%;
  height: 100%;
}

.image-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
}

.image-container img.scale-width {
  max-width: 90%;
  height: auto;
}

.image-container img.scale-height {
  width: auto;
  max-height: 90%;
}

.top-content {
  display: flex;
  flex-direction: column;
  height: 90%;
  gap: 10px;
}

.user-content {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 23px 23px 0 23px;

  .post-detail {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .title {
      font-size: 25px;
      font-weight: 500;
    }

    .description {
      font-size: 15px;
      font-weight: 400;
    }

    .content {
      display: flex;
      justify-content: space-between;

      .content-left {
        display: flex;
        gap: 8px;

        .avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          align-self: center;
          object-fit: cover;
        }

        .avatar:hover {
          cursor: pointer;
        }

        .info {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;

          .name {
            height: 50%;
            font-size: 16px;
            font-weight: 700;
          }

          .follower {
            height: 50%;
            font-size: 13px;
            font-weight: 400;
            color: #837568;
          }
        }
      }

      .content-right {

        .follow-button {
          display: flex;
          padding: 10px 24px;
          background-color: #845317;
          color: #FFFFFF;
          font-size: 14px;
          font-weight: 500;
          align-self: center;
        }
      }
    }
  }
}

.comment-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-left: 23px;
  gap: 10px;
  overflow-y: auto;
  max-height: calc(100% - 12%);

  p {
    font-size: 16px;
    font-weight: 700;
  }


  .comment-list {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;

    .comment {
      display: flex;
      flex-direction: column;

      .comment-detail {
        display: flex;
        gap: 8px;

        .comment-detail-left {
          display: flex;

          .avatar {
            padding-top: 6px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }

          .avatar:hover {
            cursor: pointer;
          }
        }

        .comment-detail-right {
          display: flex;

          .commented {
            height: 100%;
            display: flex;
            align-items: flex-start;

            .comment-text {
              align-self: center;
              font-size: 15px;
              font-weight: 400;

              p {
                padding-left: 16px;
              }
            }

            .date {
              font-size: 10px;
              font-weight: 400;
              color: #837568;
            }
          }
        }
      }
    }
  }

  .comment-list::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
  }

  .comment-list::-webkit-scrollbar-track {
    background-color: #fff;
  }

  .comment-list::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 4px solid #fff;
  }

  .comment-list::-webkit-scrollbar-button {
    display:none;
  }
}

.bottom-content {
  //height: 12%;
  display: flex;
  flex-direction: column;
  padding: 0 23px 0 23px;

  .like-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .content-left {

      p {
        font-size: 15px;
        font-weight: 700;
      }
    }

    .content-right {
      display: flex;
      align-items: center;

      p {
        font-size: 15px;
        font-weight: 700;
      }

      .like-button {
      }

      .liked {
        color: red;
      }

      //.not-like {
      //  color: black;
      //}
    }
  }

  .user {
    padding-top: 5px;
    display: flex;

    .content {
      display: flex;
      width: 100%;
      justify-content: space-between;
      //align-items: center;
      gap: 8px;

      .content-right {

        .avatar {
          padding-top: 3px;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }

        .avatar:hover {
          cursor: pointer;
        }
      }

      .mat-form-field {
        display: flex;
        flex-grow: 1;
        align-items: center;
      }

      form {
        display: flex;
        width: 100%;
      }

      .input-border {
        width: 100%;
        padding: 0;
        display: flex;
      }

      .input-button-container {
        display: flex;
        align-items: center;
      }

      .comment-input {
        flex-grow: 1;
        margin-right: 0.5rem; // Optional: Add some space between the input and the button
      }

      .send-button {
        flex-shrink: 0;
        width: 3rem; // Adjust the width as needed
      }

      .send-button {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }

    }
  }
}

.mat-mdc-form-field-subscript-wrapper .mat-mdc-form-field-bottom-align .ng-tns-c2400808035-1 {
  display: none;
}

p {
  margin: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input {
  max-width: 85%;
}

@media only screen and (max-width: 1366px) {
  .left-container {
    width: 60%;
  }

  .right-container {
    width: 40%;
  }

  //.top-content {
  //  height: 88%;
  //}
  //
  //.bottom-content {
  //  height: 12% ;
  //}

  .post-detail{
    gap: 10px !important;
  }

  .comment-content {
    gap: 10px !important;
  }

  .comment-list {
    gap: 15px !important;
  }
}

@media only screen and (max-width: 1180px) {
  .top-content {
    height: 85%;
  }

  .bottom-content {
    height: 15%;
  }
}

@media only screen and (max-width: 1024px) and (max-height: 768px) {
  .left-container {
    width: 50%;
  }

  .right-container {
    width: 50%;
  }

  .top-content {
    height: 85%;
  }

  .bottom-content {
    height: 15%;
  }
}

@media only screen and (max-width: 1024px) and (max-height: 600px) {
  .detail-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .left-container {
    display: flex;
    height: 45%;
    width: 100%;
  }

  .right-container {
    display: flex;
    flex-direction: column;
    height: 55%;
    width: 100%;
  }

  //.top-content {
  //  height: 83%;
  //}
  //
  //.bottom-content {
  //  height: 17%;
  //}
}

@media only screen and (max-width: 820px) {
  .detail-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .left-container {
    display: flex;
    width: 100%;
    height: 50%;
  }

  .right-container {
    display: flex;
    width: 100%;
    height: 50%;
  }

  .top-content {
    height: 80%;
  }

  .bottom-content {
    height: 20%;
  }
}

@media only screen and (max-width: 768px) {
  .left-container {
    height: 40%;
  }

  .right-container {
    height: 60%;
  }

  .user-content {
    padding: 20px 23px 0 23px;
  }

  .top-content {
    height: 79%;
  }

  .bottom-content {
    height: 19%;
  }
}


.loading{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
