@if(getPostDetail$| async){
  <mat-spinner></mat-spinner>
} @else {
  <div class="container">
    <div class="detail-container">
      <div class="left-container">
        <button mat-icon-button class="close-button" (click)="onExit()">
          <span class="material-symbols-outlined">close</span>
        </button>
        <div class="image-container">
          <img #imageElement class="image" [src]="postDetails.imageUrls" alt="">
        </div>
      </div>
      <div class="right-container">
        <div class="top-content">
          <div class="user-content">
            <div class="post-detail">
              <div class="title">
                <p>{{ postDetails.title }}</p>
              </div>
              <div class="description">
                <p>{{ postDetails.content }}</p>
              </div>
              <div class="content">
                <div class="content-left">
                  <img class="avatar" (click)="navigateToProfile()" [src]="postDetails.uid | idToAvatar| async"
                       alt="Avatar">
                  <div class="info">
                    <p class="name">{{ postDetails.uid | idToName| async }}</p>
                    <p class="follower">1.8 triệu người theo dõi</p>
                  </div>
                </div>
                <div class="content-right">
                  <mat-dialog-actions>
                    <button mat-button mat-dialog-close class="follow-button">Theo dõi</button>
                  </mat-dialog-actions>
                </div>
              </div>
            </div>
          </div>
          <div class="comment-content">
            <p>Comments</p>
            <div class="comment-list">
              @for (comments of comments$ | async ; track $index) {
                <div class="comment">
                  <div class="comment-detail">
                    <div class="comment-detail-left">
                      <img class="avatar" src="{{comments.uid | idToAvatar| async}}" alt="">
                    </div>
                    <div class="comment-detail-right">
                      <div class="commented">
                        <p class="comment-text"><b>{{ comments.uid | idToName| async }} </b>{{ comments.content }}</p>
                        <!--                      <p class="date">July 29, 2022</p>-->
                      </div>
                    </div>
                  </div>
                </div>
              }

            </div>
          </div>
        </div>
        <div class="bottom-content">
          <div class="like-content">
            <div class="content-left">
              <p>{{ this.commentList.length }} comments</p>
            </div>
            <div class="content-right">
              <p>{{ likeCount$ | async }} like</p>

              @if(isLiked){
                <button mat-icon-button class="like-button liked" (click)="deleteLike()">
                  <span class="material-symbols-outlined">favorite</span>
                </button>
              } @else {
                <button mat-icon-button class="like-button" (click)="createLike()">
                  <span class="material-symbols-outlined">favorite</span>
                </button>

              }


<!--              <button mat-icon-button class="like-button" [ngClass]="{'liked': isLiked}" (click)="createLike()">-->
<!--                <span class="material-symbols-outlined">favorite</span>-->
<!--              </button>-->
            </div>
          </div>
          <div class="user">
            <div class="content">
              <div class="content-right">
                <img class="avatar" (click)="navigateToMineProfile()" [src]="profileMine.avatarUrl" alt="Avatar">
              </div>

              <form [formGroup]="commentForm">
                <mat-form-field class="example-full-width input-border" appearance="outline">
                  <mat-label class="input-info">Comment</mat-label>
                  <input formControlName="content" matInput placeholder="comment"/>
                  <button mat-icon-button class="send-button" (click)="createComment()">
                    <span class="material-symbols-outlined">send</span>
                  </button>
                </mat-form-field>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

}
