<div class="container">
  <div class="detail-container">
    <div class="left-container">
      <div class="image-container">
        <img #imageElement class="image" [src]="detailPost?.imageUrls" alt="">
      </div>
    </div>
    <div class="right-container">
      <div class="top-content">
        <div class="user-content">
          <div class="post-detail">
            <div class="title">
              <p>{{detailPost?.title}}</p>
            </div>
            <div class="description">
              <p>{{detailPost?.content}}</p>
            </div>
            <div class="content">
              <div class="content-left">
                <img class="avatar" [src]="(detailPost?.uid ?? '') | idToAvatar | async" alt="Avatar">
                <div class="info">
                  <p class="name">{{(detailPost?.uid ?? '') | idToName | async}}</p>
                  <p class="follower">1.8 triệu người theo dõi</p>
                </div>
              </div>
              <div class="content-right">
                <mat-dialog-actions>
                  <button mat-button mat-dialog-close class="follow-button">Theo dõi</button>
                </mat-dialog-actions>
              </div>
            </div>
          </div>
        </div>
        <div class="comment-content">
          <p>Comments</p>
          <div class="comment-list">
            <div class="comment">
              <div class="comment-detail">
                <div class="comment-detail-left">
                  <img class="avatar" src="https://media.istockphoto.com/id/1443562748/photo/cute-ginger-cat.jpg?s=612x612&w=0&k=20&c=vvM97wWz-hMj7DLzfpYRmY2VswTqcFEKkC437hxm3Cg=" alt="">
                </div>
                <div class="comment-detail-right">
                  <div class="commented">
                    <p class="comment-text">Bé My It is a long established fact that a reader will be distracted by the readable content of a page when looking at</p>
                    <p class="date">July 29, 2022</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="comment">
              <div class="comment-detail">
                <div class="comment-detail-left">
                  <img class="avatar" src="https://media.istockphoto.com/id/1443562748/photo/cute-ginger-cat.jpg?s=612x612&w=0&k=20&c=vvM97wWz-hMj7DLzfpYRmY2VswTqcFEKkC437hxm3Cg=" alt="">
                </div>
                <div class="comment-detail-right">
                  <div class="commented">
                    <p class="comment-text">Bé My It is a long established fact that a reader will be distracted by the readable content of a page when looking at</p>
                    <p class="date">July 29, 2022</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="comment">
              <div class="comment-detail">
                <div class="comment-detail-left">
                  <img class="avatar" src="https://media.istockphoto.com/id/1443562748/photo/cute-ginger-cat.jpg?s=612x612&w=0&k=20&c=vvM97wWz-hMj7DLzfpYRmY2VswTqcFEKkC437hxm3Cg=" alt="">
                </div>
                <div class="comment-detail-right">
                  <div class="commented">
                    <p class="comment-text">Bé My It is a long established fact that a reader will be distracted by the readable content of a page when looking at</p>
                    <p class="date">July 29, 2022</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="comment">
              <div class="comment-detail">
                <div class="comment-detail-left">
                  <img class="avatar" src="https://media.istockphoto.com/id/1443562748/photo/cute-ginger-cat.jpg?s=612x612&w=0&k=20&c=vvM97wWz-hMj7DLzfpYRmY2VswTqcFEKkC437hxm3Cg=" alt="">
                </div>
                <div class="comment-detail-right">
                  <div class="commented">
                    <p class="comment-text">Bé My It is a long established fact that a reader will be distracted by the readable content of a page when looking at</p>
                    <p class="date">July 29, 2022</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="comment">
              <div class="comment-detail">
                <div class="comment-detail-left">
                  <img class="avatar" src="https://media.istockphoto.com/id/1443562748/photo/cute-ginger-cat.jpg?s=612x612&w=0&k=20&c=vvM97wWz-hMj7DLzfpYRmY2VswTqcFEKkC437hxm3Cg=" alt="">
                </div>
                <div class="comment-detail-right">
                  <div class="commented">
                    <p class="comment-text">Bé My It is a long established fact that a reader will be distracted by the readable content of a page when looking at</p>
                    <p class="date">July 29, 2022</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="comment">
              <div class="comment-detail">
                <div class="comment-detail-left">
                  <img class="avatar" src="https://media.istockphoto.com/id/1443562748/photo/cute-ginger-cat.jpg?s=612x612&w=0&k=20&c=vvM97wWz-hMj7DLzfpYRmY2VswTqcFEKkC437hxm3Cg=" alt="">
                </div>
                <div class="comment-detail-right">
                  <div class="commented">
                    <p class="comment-text">Bé My It is a long established fact that a reader will be distracted by the readable content of a page when looking at</p>
                    <p class="date">July 29, 2022</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="comment">
              <div class="comment-detail">
                <div class="comment-detail-left">
                  <img class="avatar" src="https://media.istockphoto.com/id/1443562748/photo/cute-ginger-cat.jpg?s=612x612&w=0&k=20&c=vvM97wWz-hMj7DLzfpYRmY2VswTqcFEKkC437hxm3Cg=" alt="">
                </div>
                <div class="comment-detail-right">
                  <div class="commented">
                    <p class="comment-text">Bé My It is a long established fact that a reader will be distracted by the readable content of a page when looking at</p>
                    <p class="date">July 29, 2022</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="comment">
              <div class="comment-detail">
                <div class="comment-detail-left">
                  <img class="avatar" src="https://media.istockphoto.com/id/1443562748/photo/cute-ginger-cat.jpg?s=612x612&w=0&k=20&c=vvM97wWz-hMj7DLzfpYRmY2VswTqcFEKkC437hxm3Cg=" alt="">
                </div>
                <div class="comment-detail-right">
                  <div class="commented">
                    <p class="comment-text">Bé My It is a long established fact that a reader will be distracted by the readable content of a page when looking at</p>
                    <p class="date">July 29, 2022</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="comment">
              <div class="comment-detail">
                <div class="comment-detail-left">
                  <img class="avatar" src="https://media.istockphoto.com/id/1443562748/photo/cute-ginger-cat.jpg?s=612x612&w=0&k=20&c=vvM97wWz-hMj7DLzfpYRmY2VswTqcFEKkC437hxm3Cg=" alt="">
                </div>
                <div class="comment-detail-right">
                  <div class="commented">
                    <p class="comment-text">Bé My It is a long established fact that a reader will be distracted by the readable content of a page when looking at</p>
                    <p class="date">July 29, 2022</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="comment">
              <div class="comment-detail">
                <div class="comment-detail-left">
                  <img class="avatar" src="https://media.istockphoto.com/id/1443562748/photo/cute-ginger-cat.jpg?s=612x612&w=0&k=20&c=vvM97wWz-hMj7DLzfpYRmY2VswTqcFEKkC437hxm3Cg=" alt="">
                </div>
                <div class="comment-detail-right">
                  <div class="commented">
                    <p class="comment-text">Bé My It is a long established fact that a reader will be distracted by the readable content of a page when looking at</p>
                    <p class="date">July 29, 2022</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-content">
        <div class="content">
          <div class="content-left">
            <p>3 Comments</p>
          </div>
          <div class="content-right">
            <p>856 likes</p>
            <div class="icon-background">
              <span class="material-symbols-outlined icon-material favorite-icon">favorite</span>
            </div>
          </div>
        </div>
        <div class="user">
          <div class="content">
            <div class="content-right">
              <img class="avatar" [src]="(detailPost?.uid ?? '') | idToAvatar | async" alt="Avatar">
            </div>
            <mat-form-field class="example-full-width input-border" appearance="outline" >
              <mat-label class="input-info">Email</mat-label>
              <input matInput formControlName="email" placeholder="..." readonly/>
              <span class="material-symbols-outlined">send</span>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
