<dialog class="container">
    <div class="detail-container">
      <div class="left-container">
        <img class="image" [src]="post.imageUrl" alt="">
      </div>
      <div class="right-container">
        <div class="top-content">
          <div class="title">
            <p>{{post.title}}</p>
            <mat-dialog-actions>
              <button mat-button mat-dialog-close>Close</button>
            </mat-dialog-actions>
          </div>
          <div class="description">
            <p>{{post.description}}</p>
          </div>
          <div class="content">
            <div class="content-left">
              <img class="avatar" [src]="post.avatarUrl" alt="">
              <div>
                <p>{{post.userName}}</p>
                <p>1.8 triệu người theo giỏi</p>
              </div>
            </div>
            <div class="content-right">
              <button mat-button>Theo dõi</button>
            </div>
          </div>
        </div>
        <div class="middle-content">
          <p>Comments</p>
          <div class="user-commented">

          </div>
        </div>
        <div class="bottom-content">
          <div>
            <div class="content-left" >

            </div>
            <div class>

            </div>
          </div>
          <div class="user">
            <div>
              <img src="" alt="">
            </div>
            <div>
              <input>
            </div>
          </div>
        </div>
      </div>
    </div>
</dialog>
