* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #50453A;
}

.search .icon {
  width: 18px;
  height: 18px;
}

.search .result {
  font-family: 'Arial', serif;
  font-weight: 700;
  font-size: 24px;
  color: #291805;
  margin-bottom: 5%;
}

.search .img-1 {
  border-radius: 16px;
  margin-bottom: 5%;
  width: 100%;
  height: 100%;
}

.search .avt {
  width: 30px;
  height: 30px;
}

.search .bg-avt {

  width: 40px;
  height: 40px;
  box-sizing: border-box;
}

.search .rose {
  font-family: 'Public Sans', serif;
  font-weight: 700;
  font-size: 15px;
  color: #211A14;
}

.search .avt-name-1 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;

}

.search .icon-heart-1 {
  width: 24px;
  height: 24px;
}

.search .icon-comment-1 {
  width: 24px;
  height: 24px;
}

.search .icon-1 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  box-sizing: border-box;
  //border: 1px solid pink;
  gap: 10px;
}

.search .status-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;

}

.search .tab-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  //border: 3px solid gold;
  width: 100%;
  height: 100%;
}
.pic-result {
  //border: 2px solid blue;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  flex-direction: row-reverse;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.search {
  background: #FFF8F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-radius: 25px;
  //border: 1px solid black;
}

.search-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

