<div class="search">
  <div class="search-bar">
    <div class="content">
        <span class="supporting-text">
          Hinted search text
        </span>
    </div>
    <div class="icon-search">
      <div class="container">
        <img class="icon" src="../public/images/search.png" alt="">
      </div>
    </div>
  </div>
  <div class="result">
    Result
  </div>
  <div class="tab-result">
    <div class="tab-1">
      <div class="pic-1">
        <div class="img-1"></div>
        <div class="status-1">
          <div class="avt-name-1">
            <div class="bg-avt">
              <div class="avt"></div>
            </div>
            <div class="rose">
              Rose
            </div>
          </div>
          <div class="icon-1">
            <img class="icon-heart-1" src="../public/images/heart.png" alt="">
            <img class="icon-comment-1" src="../public/images/chat-bubble.png" alt="">
          </div>
        </div>
      </div>
      <div class="pic-1">
        <div class="img-1"></div>
        <div class="status-1">
          <div class="avt-name-1">
            <div class="bg-avt">
              <div class="avt"></div>
            </div>
            <div class="rose">
              Rose
            </div>
          </div>
          <div class="icon-1">
            <img class="icon-heart-1" src="../public/images/heart.png" alt="">
            <img class="icon-comment-1" src="../public/images/chat-bubble.png" alt="">
          </div>
        </div>
      </div>
      <div class="pic-1">
        <div class="img-1"></div>
        <div class="status-1">
          <div class="avt-name-1">
            <div class="bg-avt">
              <div class="avt"></div>
            </div>
            <div class="rose">
              Rose
            </div>
          </div>
          <div class="icon-1">
            <img class="icon-heart-1" src="../public/images/heart.png" alt="">
            <img class="icon-comment-1" src="../public/images/chat-bubble.png" alt="">
          </div>
        </div>
      </div>

      <div class="pic-1">
        <div class="img-1"></div>
        <div class="status-1">
          <div class="avt-name-1">
            <div class="bg-avt">
              <div class="avt"></div>
            </div>
            <div class="rose">
              Rose
            </div>
          </div>
          <div class="icon-1">
            <img class="icon-heart-1" src="../public/images/heart.png" alt="">
            <img class="icon-comment-1" src="../public/images/chat-bubble.png" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="tab-2">
      <div class="pic-1">
        <div class="img-1"></div>
        <div class="status-1">
          <div class="avt-name-1">
            <div class="bg-avt">
              <div class="avt"></div>
            </div>
            <div class="rose">
              Rose
            </div>
          </div>
          <div class="icon-1">
            <img class="icon-heart-1" src="../public/images/heart.png" alt="">
            <img class="icon-comment-1" src="../public/images/chat-bubble.png" alt="">
          </div>
        </div>
      </div>
      <div class="pic-1">
        <div class="img-1"></div>
        <div class="status-1">
          <div class="avt-name-1">
            <div class="bg-avt">
              <div class="avt"></div>
            </div>
            <div class="rose">
              Rose
            </div>
          </div>
          <div class="icon-1">
            <img class="icon-heart-1" src="../public/images/heart.png" alt="">
            <img class="icon-comment-1" src="../public/images/chat-bubble.png" alt="">
          </div>
        </div>
      </div>
      <div class="pic-1">
        <div class="img-1"></div>
        <div class="status-1">
          <div class="avt-name-1">
            <div class="bg-avt">
              <div class="avt"></div>
            </div>
            <div class="rose">
              Rose
            </div>
          </div>
          <div class="icon-1">
            <img class="icon-heart-1" src="../public/images/heart.png" alt="">
            <img class="icon-comment-1" src="../public/images/chat-bubble.png" alt="">
          </div>
        </div>
      </div>

      <div class="pic-1">
        <div class="img-1"></div>
        <div class="status-1">
          <div class="avt-name-1">
            <div class="bg-avt">
              <div class="avt"></div>
            </div>
            <div class="rose">
              Rose
            </div>
          </div>
          <div class="icon-1">
            <img class="icon-heart-1" src="../public/images/heart.png" alt="">
            <img class="icon-comment-1" src="../public/images/chat-bubble.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
