* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #50453A;
}

.search .icon {
  width: 18px;
  height: 18px;
}

.result {
  font-family: 'Arial', serif;
  font-weight: 700;
  font-size: 24px;
  color: #291805;
  position: absolute;
  top: 80px;
  left: -2px;
}

.search .img-1 {
  border-radius: 16px;
  margin-bottom: 5%;
  width: 100%;
  height: 100%;
}

//.pic-result {
//  //border: 2px solid blue;
//  width: 100%;
//  height: 100%;
//  justify-content: space-between;
//  flex-direction: row-reverse;
//  display: grid;
//  grid-template-columns: repeat(auto-fit, minmax(400px, 4fr));
//  gap: 25px;
//}

.search {
  background: #FFF8F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 25px;
  justify-content: center;
  gap:50px;
  position: relative;
}

.loading-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.search-frame {
  width: 40%;
}

.masonry-container {
  column-gap: 16px;
}

.masonry-item {
  width: 100%;
  margin-bottom: 16px;
  overflow: hidden;
  border-radius: 25px;
  position: relative;

  &:hover::after {
    cursor: pointer;
    pointer-events: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 50% black */
  }
}

.masonry-item {
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  page-break-inside: avoid;
}


@media only screen and (max-width: 2048px) {
  .masonry-container {
    column-count: 6;
  }
}

@media only screen and (max-width: 1920px) {
  .masonry-container {
    column-count: 5;
  }
}

@media only screen and (max-width: 1536px) {
  .masonry-container {
    column-count: 5;
  }
}

@media only screen and (max-width: 1024px) {
  .masonry-container {
    column-count: 4;
  }
}

@media only screen and (max-width: 900px) {
  .masonry-container {
    column-count: 3;
  }
}

@media only screen and (max-width: 768px) {
  .masonry-container {
    column-count: 3;
  }
}

@media only screen and (max-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 4fr));
  }
}
