<div class="search">
    <mat-form-field appearance="outline" class="search-frame">
      <mat-label class="search-input"><span class="material-symbols-outlined">
        search
      </span>Tìm kiếm ảnh đẹp </mat-label>
      <input matInput [(ngModel)]="searchQuery" placeholder="Nhập từ khóa...">
    </mat-form-field>

  <div class="result">
    Result
  </div>
  <div class="tab-result">
    <div class="tab-1">
      <div class="pic-1">
        <img class="img-1" src="../public/images/img1.png" alt="...">
        <div class="status-1">
          <div class="avt-name-1">
            <div class="bg-avt">
              <img class="avt" src="../public/images/avt1.png" alt="...">
            </div>
            <div class="rose">
              Rose
            </div>
          </div>
          <div class="icon-1">
            <img class="icon-heart-1" src="../public/images/heart.png" alt="...">
            <img class="icon-comment-1" src="../public/images/chat-bubble.png" alt="...">
          </div>
        </div>
      </div>
      <div class="pic-1">
        <img class="img-1" src="../public/images/img1.png" alt="...">
        <div class="status-1">
          <div class="avt-name-1">
            <div class="bg-avt">
              <img class="avt" src="../public/images/avt1.png" alt="...">
            </div>
            <div class="rose">
              Rose
            </div>
          </div>
          <div class="icon-1">
            <img class="icon-heart-1" src="../public/images/heart.png" alt="...">
            <img class="icon-comment-1" src="../public/images/chat-bubble.png" alt="...">
          </div>
        </div>
      </div>
      <div class="pic-1">
        <img class="img-1" src="../public/images/img1.png" alt="...">
        <div class="status-1">
          <div class="avt-name-1">
            <div class="bg-avt">
              <img class="avt" src="../public/images/avt1.png" alt="...">
            </div>
            <div class="rose">
              Rose
            </div>
          </div>
          <div class="icon-1">
            <img class="icon-heart-1" src="../public/images/heart.png" alt="...">
            <img class="icon-comment-1" src="../public/images/chat-bubble.png" alt="...">
          </div>
        </div>
      </div>

      <div class="pic-1">
        <img class="img-1" src="../public/images/img1.png" alt="...">
        <div class="status-1">
          <div class="avt-name-1">
            <div class="bg-avt">
              <img class="avt" src="../public/images/avt1.png" alt="...">
            </div>
            <div class="rose">
              Rose
            </div>
          </div>
          <div class="icon-1">
            <img class="icon-heart-1" src="../public/images/heart.png" alt="...">
            <img class="icon-comment-1" src="../public/images/chat-bubble.png" alt="...">
          </div>
        </div>
      </div>
    </div>

    <div class="tab-2">
      <div class="pic-1">
        <img class="img-1" src="../public/images/img1.png" alt="...">
        <div class="status-1">
          <div class="avt-name-1">
            <div class="bg-avt">
              <img class="avt" src="../public/images/avt1.png" alt="...">
            </div>
            <div class="rose">
              Rose
            </div>
          </div>
          <div class="icon-1">
            <img class="icon-heart-1" src="../public/images/heart.png" alt="...">
            <img class="icon-comment-1" src="../public/images/chat-bubble.png" alt="...">
          </div>
        </div>
      </div>
      <div class="pic-1">
        <img class="img-1" src="../public/images/img1.png" alt="...">
        <div class="status-1">
          <div class="avt-name-1">
            <div class="bg-avt">
              <img class="avt" src="../public/images/avt1.png" alt="...">
            </div>
            <div class="rose">
              Rose
            </div>
          </div>
          <div class="icon-1">
            <img class="icon-heart-1" src="../public/images/heart.png" alt="...">
            <img class="icon-comment-1" src="../public/images/chat-bubble.png" alt="...">
          </div>
        </div>
      </div>
      <div class="pic-1">
        <img class="img-1" src="../public/images/img1.png" alt="...">
        <div class="status-1">
          <div class="avt-name-1">
            <div class="bg-avt">
              <img class="avt" src="../public/images/avt1.png" alt="...">
            </div>
            <div class="rose">
              Rose
            </div>
          </div>
          <div class="icon-1">
            <img class="icon-heart-1" src="../public/images/heart.png" alt="...">
            <img class="icon-comment-1" src="../public/images/chat-bubble.png" alt="...">
          </div>
        </div>
      </div>

      <div class="pic-1">
        <img class="img-1" src="../public/images/img1.png" alt="...">
        <div class="status-1">
          <div class="avt-name-1">
            <div class="bg-avt">
              <img class="avt" src="../public/images/avt1.png" alt="...">
            </div>
            <div class="rose">
              Rose
            </div>
          </div>
          <div class="icon-1">
            <img class="icon-heart-1" src="../public/images/heart.png" alt="...">
            <img class="icon-comment-1" src="../public/images/chat-bubble.png" alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
