<div id="edit-profile">
  <form [formGroup]="editProfileForm">
    <div class="form">
      <img [src]="url">
      <input type="file" (change)="onSelectedFile($event)" id="fileInput" hidden>
      <button id="upload" mat-raised-button (click)="document.getElementById('fileInput')?.click()">Upload</button>

      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name">
        <button matSuffix mat-icon-button aria-label="Clear" (click)="clearName()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Bio</mat-label>
        <input matInput  placeholder="Bio"  formControlName="bio">
        <button matSuffix mat-icon-button aria-label="Clear" (click)="clearBio()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    <button id="confirm" (click)="onSaveClick()" mat-raised-button>Save</button>
  </div>
  </form>

</div>
