#edit-profile{
  width: 573px;
  height: 436px;
  border-radius: 26px;
  background-color: #FFF8F4;;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-sizing: border-box;
}
img{
  width: 110px;
  height: 110px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
mat-form-field{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #845317 1px solid;
  width: 80%;

}
mat-label{
  font-family: "Public Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #845317;
}
button{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Public Sans";
}
#confirm {
  color: white;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: #845317;
}
#upload {
  background-color: #845317;
  width: 50%;
  color: white;
  font-family: "Public Sans";
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  line-height: revert;
}

