#edit-profile{
  border-radius: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  box-sizing: border-box;
}
.form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}
#fileInput{
  background-color: var(--primary);
  color: var(--onPrimary);
  font-weight: 600;
  line-height: normal;
  border-radius: 10px;
}

mat-form-field{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150%;

}
mat-label{
  font-size: 16px;
  font-weight: 400;
  color: var(--primary);
  border-radius: 10px;
}
button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
#confirm {
  color: var(--onPrimary);
  font-weight: 600;
  //font-size: 20px;
  background-color: var(--primary);
  //width: 65%;
}
.upload {
  background-color: var(--primary);
  color: var(--onPrimary);
}
::ng-deep .mat-mdc-dialog-surface{

  width: 30vw;
  height: 60vh;
  background-color: var(--surface);
  display: flex;
  align-items: center;
  justify-content: space-around;

}


.loader {
  width: 2rem;
  height: 2rem;
  border: 2px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



