
<div id="edit-profile">
  <form [formGroup]="editProfileForm">
    <div class="form">
      <img [src]="urlsa">
      <input type="file" (change)="onSelectedFile($event)" id="fileInput" hidden>
      @if(isUploading$|async){
        <button class="upload" mat-raised-button (click)="document.getElementById('fileInput')?.click()">
          <span class="loader"></span>
        </button>
      } @else {
        <button class="upload" mat-raised-button (click)="document.getElementById('fileInput')?.click()">Upload</button>
<!--        <button class="upload" mat-raised-button (click)="document.getElementById('fileInput')?.click()">-->
<!--          <span class="loader"></span>-->
<!--        </button>-->
      }

      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name" hidden>
        <button matSuffix mat-icon-button aria-label="Clear" (click)="clearName()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="editProfileForm.get('name')?.hasError('maxlength')">
          Name cannot exceed 10 characters.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Bio</mat-label>
        <textarea matInput maxlength="200" placeholder="Bio" (input)="onInput($event)" cdkTextareaAutosize></textarea>
        <mat-hint align="end">{{value().length}}/200</mat-hint>
      </mat-form-field>

      <button id="confirm" (click)="onSaveClick()" mat-raised-button>Save</button>
    </div>
  </form>
</div>
