
<div class="container">
  <div class="login">
    <div class="login-header">
      <div class="login-header-title-left">
        <span>Sign In</span>
      </div>
      <div class="login-header-title-right">
        <span>Welcome</span>
      </div>
    </div>
    <div class="login-middle">
      <div class="login-middle-image-left">
        <img class="man-images" src="../public/images/man_images.png" alt="">

      </div>
      <div class="login-middle-image-right">
        <img class="img-welcome" src="../public/images/exlorer_illustration_1.png" alt="">

      </div>
    </div>

    <div class="login-end">

      <button class="sign-in-text" mat-stroked-button (click)="loginWithGoogle()">
        <div class="gg">

            <span>Login with Google</span>

          <img class="icon-gg" src="../public/images/google.png" alt="" />
        </div>
      </button>

<!--      <div class="login-end-left">-->

<!--      </div>-->
    </div>
  </div>
</div>
