* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', serif;
}

.login-body {
  background: #7F7F7F;
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.login .label {
  font-weight: 900;
  font-size: 38px;
  line-height: 1.286;
  color: var(--primary);
  //border: 2px solid gold;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.lbl-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.login .tab-1 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 6px 0;
  width: 144.5px;
  box-sizing: border-box;
}

.login .man-images {
  max-width: 60%;
  height: auto;
}

.login .icon-gg {
  width: 22px;
  height: 22px;
  box-sizing: border-box;
  z-index: 1;
}

.login .sign-in-text {
  font-size: 16px;
  width: 65%;
  display: flex;
  flex-direction: column;
}

.gg {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.login .tab-login {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 50%;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.login .title {
  //border: 2px solid red;
  font-weight: 700;
  font-size: 38px;
  color: var(--primary);
  margin-top: 6%;
  width: fit-content;
  height: fit-content;

}

.login {
  border-radius: 40px;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 80%;
  box-sizing: border-box;
  //border: 2px solid green;
}

.login .tab-welcome {
  box-sizing: border-box;
  width: 50%;
  //border: 3px solid green;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.img-welcome {
  max-width: 80%;
  height: auto;
}

#btn-clickHere {
  color: blue;
  border: none;
  background: #FFFFFF;
  font-size: 16px;
}

.group-welcome {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

/* Media Query cho iPad Pro ở chế độ dọc (Portrait) */
@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  .login .sign-in-text{
    margin-top: 20%;
  }
  .login .title {
    margin-top: 6.5% !important;
  }

}

/* Media Query cho iPad Pro ở chế độ ngang (Landscape) */
@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

  .login {
    height: 50%;
  }
}

/* Media Query cho iPad Air ở chế độ ngang (Landscape) */
@media only screen
and (min-device-width: 820px)
and (max-device-width: 1180px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

  .login .sign-in-text {
    margin-top: -10%;
  }
}

/* Media Query cho iPad Mini ở chế độ dọc (Portrait) */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

  .login .sign-in-text {
    width: 80%;
    font-size: 14px;
    margin-left: 100%;
  }
  .login .title {
    margin-top: 8%;
  }
  .login {
    height: 40%;
  }
}

/* Media Query cho iPad Mini ở chế độ ngang (Landscape) */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

  .lbl-img {
    margin-top: -0.1%;
    //border: 3px solid green;
  }
  .group-welcome {
    margin-top: -0.1%;
    //border: 2px solid blue;
  }
  .login {
    height: 60%;
  }
  .login .title {
    margin-top: 6.5%;
  }
}
