* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', serif;
}

.login-body {
  background: #7F7F7F;
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.combo-btn-note {
  height: 50px;
}

.login .label {
  overflow-wrap: break-word;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.286;
  color: var(--primary);
  margin: -30px 0 0 50px;
}

.login .indicator {
  position: absolute;
  left: 50%;
  bottom: 0;
  translate: -50% 0;
  display: flex;
  width: 85px;
  height: 14px;
  box-sizing: border-box;
}

.login .tab-1 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 6px 0;
  width: 144.5px;
  box-sizing: border-box;
}

.login .tab-group {
  position: absolute;
  left: 50%;
  bottom: -1px;
  translate: -50% 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.login .tabs-sign-in-register {
  background: #FFFFFF;
  position: relative;
  margin: 0 0 150px -90px;
  align-self: center;
  width: 289px;
  height: 47px;
}

.login .man-images {
  margin:  -100px 0 119px 120px;
  width: 35%;
  height: auto;
}

.login .icon-gg {
  margin: 3px 10px 3px 80px;
  display: flex;
  width: 22px;
  height: 22px;
  box-sizing: border-box;
  position: relative;
  top: 50%;
  left: -15px;
  z-index: 1;
}

.login .sign-in-text {
  overflow-wrap: break-word;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  color: #FFFFFF;
  background: var(--primary);
  width: 120%;
  height: 40px;
  margin-left: 35px;
  margin-top: 0px;
}

.login .btn-sign-in {
  border-radius: 100px;
  margin: 0 41px 127px 41px;
  display: flex;
  align-self: flex-start;
  width: 380px;
  box-sizing: border-box;
}

.login .note {
  margin: 300px 0 100px 80px;
  overflow-wrap: break-word;
  font-family: 'Arial', serif;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}

.login .tab-login {
  margin: 60px 0 0 -120px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.login .title {
  margin: 30px 6.6px 161px -350px;
  display: inline-block;
  overflow-wrap: break-word;
  font-weight: 700;
  font-size: 50px;
  color: var(--primary);
}

.login {
  border-radius: 40px;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  padding: 0 0 57px 65px;
  width: 70%;
  height: 80%;
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;

}

.login .tab-welcome {
  margin-bottom: 71px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin-left: 200px;
  height: 100px;
  width: 600px;

}

.img-welcome {
  margin: -50px 0px 0 -400px;
  width: 350px;
  height: 400px;
}

#btn-clickHere {
  color: blue;
  border: none;
  background: #FFFFFF;
  font-size: 16px;
}
//-------------------------------------RESPONSIVE---------------------------------------------------
/* Responsive Design for iPad Pro */
@media (min-width: 1024px) and (min-height: 1366px) {
  .login {
    width: 85%;
    height: auto;
    flex-direction: column;
    padding: 20px;
    //border: 5px solid red;
  }

  .tab-1 {
    width: 300px !important;
  }

  .login .man-images {
    width: 30%;
    margin: 0;
    //border: 5px solid blueviolet;
    position: relative;
    left: 300px;
    top: 30px;

  }

  .label {
    //border: 5px solid aqua;
    position: relative;
    left: 100px;
    bottom: -120px;
    font-size: 50px !important;
    width: 100%;
  }

  .combo-btn-note{
    position: relative;
    bottom: -170px;
    //border: 5px solid gold;
    width: 50%;
    margin-left: 300px;
    height: 100px;
  }

  .login .sign-in-text {
    width: 210% !important;
    height: 60px;
    margin: 10px 0 0 10px;
    //border: 5px solid greenyellow;
    z-index: 0;
  }

  .login .btn-sign-in {
    margin: 10px 0;
  }

  .login .note {
    margin: 10px 0;
    font-size: 18px;
  }

  .icon-gg {
    transform: translate(60px,6px);
    //position: unset !important;

  }

  #btn-clickHere {
    font-size: 20px;
  }

  .login .title {
    font-size: 5em;
    //border: 5px solid blue;
    position: relative;
    top: -600px;
    left: 80px;
  }

  .img-welcome {
    width: 100%;
    max-width: 300px;
    //border: 5px solid green;
    position: relative;
    top: -350px;
    left: 200px;
  }
}
