* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', serif;
}

.login-body {
  background: rgb(53, 52, 52);
  width: auto;
  height: 100vh;
  padding-top: 30px;
}

.login .label {
  overflow-wrap: break-word;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.286;
  color: #845317;
}

.login .indicator {
  position: absolute;
  left: 50%;
  bottom: 0;
  translate: -50% 0;
  display: flex;
  width: 85px;
  height: 14px;
  box-sizing: border-box;
}

.login .tab-1 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 6px 0;
  width: 144.5px;
  box-sizing: border-box;
}

.login .tab-group {
  position: absolute;
  left: 50%;
  bottom: -1px;
  translate: -50% 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.login .tabs-sign-in-register {
  background: #FFFFFF;
  position: relative;
  margin: 0 0 150px -90px;
  align-self: center;
  width: 289px;
  height: 47px;
}

.login .man-images {
  margin:  -100px 0 119px 120px;
  width: 35%;
  height: auto;
}

.login .icon-gg {
  margin: 3px 10px 3px 80px;
  display: flex;
  width: 22px;
  height: 22px;
  box-sizing: border-box;
  position: relative;
  top:-63%;
  left: -15px;
  z-index: 1;
}

.login .sign-in-text {
  overflow-wrap: break-word;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  color: #FFFFFF;
  background: #845317;
  width: 120%;
  height: 40px;
  margin-left: 35px;
  margin-top: -120px;
}

.login .btn-sign-in {
  border-radius: 100px;
  margin: 0 41px 127px 41px;
  display: flex;
  align-self: flex-start;
  width: 380px;
  box-sizing: border-box;
}

.login .note {
  margin: -160px 0 0 80px;
  overflow-wrap: break-word;
  font-family: 'Arial', serif;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}

.login .tab-login {
  margin: 70px 0 0 -120px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.login .title {
  margin: 30px 6.6px 161px -350px;
  display: inline-block;
  overflow-wrap: break-word;
  font-weight: 700;
  font-size: 50px;
  color: #845317;
}

.login {
  border-radius: 40px;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  padding: 0 0 57px 65px;
  width: 70%;
  height: 80%;
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;

}

.login .tab-welcome {
  margin-bottom: 71px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin-left: 200px;
  height: 100px;
  width: 600px;

}

.img-welcome {
  margin: -50px 0px 0 -400px;
  width: 350px;
  height: 400px;
}

#btn-clickHere {
  color: blue;
  border: none;
  background: #FFFFFF;
  font-size: 16px;
}
