<div class="login-body">
  <div class="login">
    <div class="tab-login">
      <div class="tabs-sign-in-register">
        <div class="tab-group">
          <div class="tab-1">
            <span class="label">
              Sign In
            </span>
            <div class="indicator">
            </div>
          </div>
        </div>

      </div>
      <img class="man-images" src="../public/images/man_images.png" alt="">
      <div class="btn-sign-in">
        <div class="lg-google">
          <div class="icon-gg">
            <img src="../public/images/google.png"  alt=""/>
          </div>
          <button class="sign-in-text" mat-flat-button>Login with Google</button>
        </div>
      </div>
      <span class="note">
        If you don’t remember your password, just<br> <button id="btn-clickHere">Click here!</button>
      </span>
    </div>
    <div class="tab-welcome">
      <div class="title">
        WELCOME
      </div>
      <img class="img-welcome" src="../public/images/exlorer_illustration_1.png" alt="">
    </div>
  </div>
</div>

