#container-following{
  width: 100%;
  height: 100%;
  border-radius: 23px;
  background-color: var(--background);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap:  20px;

}
::ng-deep .mat-mdc-dialog-surface{
  background-color: var(--background);
  width: 501px;
  height: 572px;
}

#title{
  color: var(--onBackground);
  font-size:  25px;
  font-style: normal;
  gap: 10px;
}
mat-form-field{
  display: flex;
  width: 80%;
  height: 10%;
}
.following{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  height: 100%;
}
.following-item{
  display: flex;
  align-items: center;
  gap: 5px;
}
.following-image{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.info{
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  height: 100%;
}
.following-name{
  color: var(--onBackground);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.following-card{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.Foll-But{
  width: 100px;
  height: 40px;
  border-radius: 28px;
  background-color: var(--surface);
  color: var(--onSurface);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
