<div id="container-following">
  <div id="title">Following</div>
  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input  matInput placeholder="Search" id="search">
  </mat-form-field>
  <div class="following">
    <div *ngFor="let i of [].constructor(10); let idx = index" class="following-card">
      <div class="following-item">
        <img class="following-image" src="https://www.w3schools.com/howto/img_avatar.png">
        <div class="info">
          <div class="following-name">Name {{ idx + 1 }}</div>
        </div>
      </div>
      <div class="button">
        <button mat-raised-button class="Foll-But">Following</button>
      </div>
    </div>
  </div>
</div>
