<div class="post">
  <div class="post-header">
    <ngx-skeleton-loader
      [theme]="{
      'border-radius': '5px',
     width: '100%',
     height: '300px',
      border: '1px solid white',

     margin: '0',

    }"
      count="1" appearance="line" />
  </div>
  <div class="post-content">
    <div class="content-left">
      <ngx-skeleton-loader count="1" appearance="circle" />
    </div>
    <div class="content-right">
<!--      <span class="material-symbols-outlined icon-material">favorite</span>-->
<!--      <span class="material-symbols-outlined icon-material">chat</span>-->
    </div>
  </div>
</div>
